.cart-icon {
    padding: 20px 0px 20px 45px !important;
    background: url('../images/shopping.png') center center no-repeat;
    background-image: url('../images/shopping.png') !important;
    background-size: 36px 30px;
}

.cart-total {
    padding: 5px 10px 5px 10px !important;
    color: #fff;
    background: #B0A171;
    border-radius: 20px;
}